/* Geral */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #6F4E37;
}

/* Menu */

header {
    height: 7vh;
    background-color: #825c41;
    position: fixed;
    width: 100%;
    /* background-color: #6F4E37; */
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    justify-self: center;
    height: inherit;
    width: 1000px;
    list-style-type: none;
}

.menu li {
    padding: 15px;
}

.menu li a {
    text-decoration: none;
    background-color: #d6ae80;
    color: white;
    padding: 10px;
    border-radius: 10px;
    display: block;
    font-family: "Roboto", sans-serif;
}

/* Tudo */

.container {
    padding-top: 7vh;
    display: flex;
    flex-direction: row;
    justify-self: center;
    height: 100%;
    width: 1000px;
    background-color: #A67B5B;
    /* border: 1px solid yellow; */
}


/* História ~ Nestor*/

/* Agenda ~ Victor */

/* Discografia ~ Eduardo*/

/* Álbum de fotos ~ Nestor */

/* Letra de Música ~ Eduardo */

.img-msc-letra {
    margin-top: 5vh;
    justify-content: center;
    justify-items: center;
    width: inherit;
    /* border: solid 1px green; */
}

.img-msc-letra img {
    display: block;
    width: 350px;
    height: 350px;
    justify-self: center;
}

.titulo-h1 {
    color: #f6d7c2;
    margin-top: 5vh;
    margin-bottom: 3vh;
    font-family: "Roboto", sans-serif;
    font-size: large;
}

.img-msc-letra .coluna {
    gap: 10px;
    white-space: pre-line;
    color: #f6d7c2;
    font-family: "Roboto", sans-serif;
    font-size: large;
}

/* Página de contato ~ Victor */

.contato-h1 {
    display: flex;
    align-items: center;
    font-size: 40px;
    font-weight: normal;
}

form {
    width: 100%;
    min-height: 100vh;
    float: left;
    background-color: #ffffff;
    padding: 25px 50px 25px 50px;
}

form .form-group{
    margin-top: 15px;
}


input[type="text"],
input[type="date"],
input[type="email"],
input[type="file"],
input[type="number"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


.botao {
    padding: 12px;
    background-color: #6F4E37;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 50%;       
    align-self: center;
}

/* Home Page */

.home-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
    align-items: center;
    color: white;

}

.tittle {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #f6d7c2;
    margin-top: 5vh;
    margin-bottom: 3vh;
    font-family: "Roboto", sans-serif;
    font-size: large;
    font-size: 20px;


}

.tittle-hit {
    color: #f6d7c2;
    margin-top: 5vh;
    margin-bottom: 3vh;
    font-family: "Roboto", sans-serif;
    font-size: large;
    margin-top: 100px;
    font-size: 20px;
}

.hit-img {
    margin-bottom: 50px;
    height: 200px;
}

.audio {
    margin-bottom: 50px;
}

.cd{
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
    transform: girar;
}


.cd img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    position: relative;
    display: block;
    z-index: 1;
    animation: girar 6s linear infinite;

}

/*Pseudo-Elemento: */
.cd::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: radial-gradient(circle, #000 0 50%, #666 51% 100%);
  z-index: 2;
}


@keyframes girar {
    to {transform: rotate(360deg);}
}