/* Geral */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #6F4E37;
}

/* Menu */

header {
    height: 7vh;
    background-color: #825c41;
    position: fixed;
    width: 100%;
    /* background-color: #6F4E37; */
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    justify-self: center;
    height: inherit;
    width: 1000px;
    list-style-type: none;
}

.menu li {
    padding: 15px;
}

.menu li a {
    text-decoration: none;
    background-color: #d6ae80;
    color: white;
    padding: 10px;
    border-radius: 10px;
    display: block;
    font-family: "Roboto", sans-serif;
}

/* Tudo */

.container {
    padding-top: 7vh;
    display: flex;
    flex-direction: row;
    justify-self: center;
    min-height: 100vh;
    width: 1000px;
    background-color: #A67B5B;
    /* border: 1px solid yellow; */
}

/* Titulos */
.titulo-h1 {
    color: #f6d7c2;
    margin-top: 5vh;
    margin-bottom: 3vh;
    font-family: "Roboto", sans-serif;
    font-size: large;
}


/* Página inícial ~ Victor e Eduardo */

/* História ~ Nestor*/

/* Agenda ~ Eduardo */
.agenda {
    margin-top: 5vh;
    justify-content: center;
    justify-items: center;
    width: inherit;
}

/* colunas */
.row {
    display: flex;
    flex-wrap: nowrap;
}

[class^= "col-"] {
    background-color: white;
    border: solid 1px black;
    padding: 10px;
}

.col-1 {flex: 1 1 calc(100% / 12);}
.col-2 {flex: 1 1 calc(100% / 6);}
.col-3 {flex: 1 1 calc(100% / 4);}
.col-4 {flex: 1 1 calc(100% / 3);}
.col-5 {flex: 1 1 calc(100% / 12 * 5);}
.col-6 {flex: 1 1 calc(100% / 2);}
.col-7 {flex: 1 1 calc(100% / 12 * 7);}
.col-8 {flex: 1 1 calc(100% / 12 * 8);}
.col-9 {flex: 1 1 calc(100% / 12 * 9);}
.col-10 {flex: 1 1 calc(100% / 12 * 10);}
.col-11 {flex: 1 1 calc(100% / 12 * 11);}
.col-12 {flex: 1 1 100%;}

/* Discografia ~ Victor */

/* Álbum de fotos ~ Nestor */

/* Letra de Música ~ Eduardo */

.msc-letra {
    margin-top: 5vh;
    justify-content: center;
    justify-items: center;
    width: inherit;
    /* border: solid 1px green; */
}

.msc-letra img {
    display: block;
    width: 350px;
    height: 350px;
    justify-self: center;
}

.msc-letra .coluna {
    gap: 10px;
    white-space: pre-line;
    color: #f6d7c2;
    font-family: "Roboto", sans-serif;
    font-size: large;
}

/* Página de contato ~ Victor */

.contato-h1 {
    display: flex;
    align-items: center;
    font-size: 40px;
    font-weight: normal;
}

form {
    width: 100%;
    min-height: 100vh;
    float: left;
    background-color: #ffffff;
    padding: 25px 50px 25px 50px;
}

form .form-group{
    margin-top: 15px;
}


input[type="text"],
input[type="date"],
input[type="email"],
input[type="file"],
input[type="number"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


.botao {
    padding: 12px;
    background-color: #6F4E37;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 50%;       
    align-self: center;
}